{% extends 'base.html' %}{% block content %}
<br>
<br>

<div class="row">
  <class class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #9900ff">
        <h5 class="card-title">Listing</h5>
        <p class="card-text align-items-center">
<div class="create_listing__container">
  <form action="" method="post">
    {% csrf_token %}{{form.as_p}} <input type="submit" value="Submit" id="create-listing__button" />
  </form>
</div>
</div>
</div>
</class>
{% endblock %}
